#div_nav{ /* div_nav styles contents of the navigation  */
/*    position: relative;*/
    height: 90px;
    background-color: #306FA0;
}

#header1{
    position: relative; 
    width: inherit; 
    height: 120px; 
    background-color: black;
}

#submitButton{
    position: fixed;
    margin-top: 20px;
}

#nav_links{
    position: relative;
    margin-top: 20px;
    text-decoration: none;
/*    color: white;*/
    font-size: 20px;
}

li{
    position: relative;
    margin-left: 20px;
}

#navText{
    color:white;
    font-size: 15px;
}


#navTop{
    position: relative;
    margin-top: 15px;
/*    margin-left: 120px;*/
}

#navColor{
    background-color: #306FA0;
}

ul li #dropNav{
    border-color: black;
    background-color: #333333;
}

ul li #dropNav a{
    color: white;
}

ul li #dropNav a:hover{
    color: black;
}

#home_link{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

/*
#loginForm{
    border:3px solid rgba(48, 111, 160, 0.4);
    border-radius: 25px;
}
*/

/*
footer{
    position: absolute;
    bottom: 0;
    width:100%;
}
*/

#input{
    font-size: 15px;
}

#loginlinks div a{
    color:#306FA0;
    font-size: 14px;
}





