body {
    position: relative;
    min-height: 100%;
}

#div_nav{ /* div_nav styles contents of the navigation  */
/*    position: relative;*/
    height: 90px;
    background-color: #306FA0;
}

#header1{
    position: relative; 
    width: inherit; 
    height: 120px; 
    background-color: black;
}

#submitButton{
    position: fixed;
    margin-top: 20px;
}

#nav_links{
    position: relative;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

li{
    position: relative;
    margin-left: 20px;
}

#navText{
    color:white;
    font-size: 15px;
}


#navTop{
    position: relative;
    margin-top: 15px;
/*    margin-left: 120px;*/
}

#navColor{
    background-color: #306FA0;
}

ul li #dropNav{
    border-color: black;
    background-color: #333333;
}

ul li #dropNav a{
/*    color: white;*/
}

ul li #dropNav a:hover{
    color: black;
}

#home_link{
    position: relative;
    margin-top: 20px;
/*    margin-left: 20px;*/
}

/*
#loginForm{
    border:3px solid rgba(48, 111, 160, 0.4);
    border-radius: 25px;
}
*/

/*
footer{
    position: absolute;
    bottom: 0;
    width:100%;
}
*/

#input{
    font-size: 15px;
}

#loginlinks div #lnk{
    color:#306FA0;
    font-size: 14px;
}


#loginlinks div a{
    color:white;
    font-size: 14px;
}

#loginlinks div .dropdown-item:hover{
    background-color: lightgrey; 
/*    Login as another user  */
    color: #000000;
}

/* Navbar styling */
/*
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}
*/

#footr2{
    background-color: #306FA0; 
    color: white; 
    height: 80px; 
/*    bottom: 0; */
    width:100%; 
    font-size:15px;
}

/*#footr{*/    
/*    From the web  */
/*
    clear: both;
    border: 1px groove #aaaaaa;
    background: blue;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
*/
/*    ends here */

/*
    background-color: #306FA0; 
    color: white; 
    height: 80px;
    width:100%; 
    font-size:15px;}
*/
/*    margin-top: 20px;*/

@media (max-height:615px){
    #footr{
        background-color: #306FA0; 
        color: white; 
        height: 80px; 
    /*    bottom: 0; */
        width:100%; 
        font-size:15px;
    }
}

@media (min-height:616px){
    #footr{
        clear: both;
        border: 1px groove #aaaaaa;
        background: blue;
        color: White;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        margin: 0;
        position: fixed;
        bottom: 0px;
        width: 100%;
    /*    ends here */

    /*    position: absolute;*/

        background-color: #306FA0; 
        color: white; 
        height: 80px; 
    /*    bottom: 0; */
        width:100%; 
        font-size:15px;
    }
}



/*
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
*/


